@import '~bootstrap/scss/bootstrap.scss';
@import '~intl-tel-input/build/css/intlTelInput.css';

body{
  background: lightslategrey;
}

.form-group > div > .intl-tel-input {
  width: 100%;
}

.was-validated, .invalid-feedback {
  display: block;
}
