doctype html
title
  | #{title} - Auth
meta(charset='utf-8')
meta(content='width=device-width, initial-scale=1', name='viewport')
script(src='/javascripts/index.js')

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Auth
  button.navbar-toggler(
    type='button',
    data-toggle='collapse',
    data-target='#navbar',
    aria-controls='navbar',
    aria-expanded='false',
    aria-label='Toggle navigation'
  )
    span.navbar-toggler-icon
  #navbar.navbar-collapse.collapse
    ul.navbar-nav.mr-auto
      if user
        li.nav-item
          a.nav-link(href='/users') Users
    ul.navbar-nav.ml-auto
        if user
          li.nav-item
            p.navbar-text Welcome, #{user.username}
          li.nav-item
            a.nav-link(href='/logout') Log Out
        else
          if current_url !== '/register'
              li.nav-item
                a.nav-link(href='/register') Register
          if current_url !== '/login'
            li.nav-item
              a.nav-link(href='/login') Login

section.content
  .container
    br
    if (flash.length > 0)
        for message in flash
          .flash(class='alert-' + message.type)=message.message

  block content
