extends layout

block content
  .row.justify-content-center
    .card.col-lg-4
      .card-body
        h1 #{title}
        br
        form#login-form.needs-validation(
          method='post',
          novalidate=''
        )
          .form-group
              label(for='username') Username
              input.form-control#username(
                name='username',
                required='',
                placeholder='Username',
                class={ "is-invalid": errors.username }
              )
              if errors.username
                .invalid-feedback
                  | #{errors.username}
          .form-group
              label(for='password') Password
              input.form-control#password(
                type='password',
                name='password',
                required='',
                placeholder='Password',
                class={ "is-invalid": errors.password }
              )
              if errors.password
                .invalid-feedback
                  | #{errors.password}

          button.btn.btn-primary.btn-block(type='submit') Log In

