extends layout

block content
  .row.justify-content-center
    .card.col-lg-4
      .card-body
        h1 #{title}
        br
        form#register-form.needs-validation(
              method='post',
              novalidate=''
          )
          .form-group#username
            label(for='username') Username
            input.form-control(
              name='username',
              type='text',
              required='',
              placeholder='Username',
              class={ "is-invalid": errors.username }
            )
            if errors.username
                .invalid-feedback
                  | #{errors.username}

          .form-group#email
            label(for='email') E-mail
            input.form-control(
            name='email',
            type='text',
            required='',
            placeholder='E-mail',
            class={ "is-invalid": errors.email }
            )
            if errors.email
              .invalid-feedback
                | #{errors.email}

          .form-group#firstname
            label(for='firstname') First Name
            input.form-control(
            name='firstname',
            type='text',
            required='',
            placeholder='First Name',
            class={ "is-invalid": errors.firstname }
            )
            if errors.firstname
              .invalid-feedback
                | #{errors.firstname}

          .form-group#lastname
            label(for='lastname') Last Name
            input.form-control(
            name='lastname',
            type='text',
            required='',
            placeholder='Last Name',
            class={ "is-invalid": errors.lastname }
            )
            if errors.lastname
              .invalid-feedback
                | #{errors.lastname}

          .form-group#middlename
            label(for='middlename') Middle Name
            input.form-control(
            name='middlename',
            type='text',
            required='',
            placeholder='Middle Name',
            class={ "is-invalid": errors.middlename }
            )
            if errors.middlename
              .invalid-feedback
                | #{errors.middlename}

          .form-group#password
            label(for='password') Password
            input.form-control(
              type='password',
              name='password',
              required='',
              placeholder='Password',
              class={ "is-invalid": errors.password }
            )
          .form-group#confirmPassword
            label(for='confirmPassword') Confirm Password
            input.form-control(
              type='password',
              name='confirmPassword',
              required='',
              placeholder='Confirm Password',
              class={ "is-invalid": errors.confirmPassword }
            )
            if errors.confirmPassword
                .invalid-feedback
                  | #{errors.confirmPassword}
          .form-group#verifyPhoneNumber
            label(for='verifyPhoneNumber') Phone Number
            div
                input.form-control(
                  type='tel',
                  name='phoneNumber',
                  required='',
                  placeholder='Phone Number',
                  class={ "is-invalid": errors.phoneNumber }
                )
                if errors.phoneNumber
                    .invalid-feedback
                      | #{errors.phoneNumber}

          .form-group#Country
            label(for='country') Country
            input.form-control(
            name='country',
            type='text',
            required='',
            placeholder='Country',
            class={"is-invalid": errors.country}
            )
            if errors.country
              .invalid-feedback
                | #{errors.country}

          .form-group#City
            label(for='city') City
            input.form-control(
            name='city',
            type='text',
            required='',
            placeholder='City',
            class={"is-invalid": errors.city}
            )
            if errors.city
              .invalid-feedback
                | #{errors.city}

          .form-group#osMobile
            label(for='firstname') OS Mobile
            input.form-control(
            name='osMobile',
            type='text',
            required='',
            placeholder='osMobile',
            class={ "is-invalid": errors.osMobile }
            )
            if errors.osMobile
              .invalid-feedback
                | #{errors.osMobile}

          button.btn.btn-primary.btn-block(type='submit') Sign Up
